{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Rules{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('taintinduce.submit_job') }}">New Job</a>
    <a class="action" href="{{ url_for('taintinduce.view_jobs') }}">View Jobs</a>
    <a class="action" href="{{ url_for('taintinduce.index') }}">View Rules</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table id=rulestyle>
    <tr>
      <th>Insn Bytestring</th>
      <th>Architecture</th>
      <th>Information</th>
      <th>Download Link</th>
      <th>Observations</th>
    </tr>
    {% for arch_string, insn_bytestring in rules %}
    <tr>
      <td>{{ insn_bytestring }}</td>
      <td>{{ arch_string }}</td>
      <td><a href={{ url_for('taintinduce.rule_info', insn_bytestring=insn_bytestring, arch_string=arch_string) }}>link</a></td>
      <td><a href={{ url_for('taintinduce.rule_dl', insn_bytestring=insn_bytestring, arch_string=arch_string) }}>link</a></td>
      <td><a href={{ url_for('taintinduce.view_obs', insn_bytestring=insn_bytestring, arch_string=arch_string) }}>link</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
