{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View Jobs{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('taintinduce.submit_job') }}">New Job</a>
    <a class="action" href="{{ url_for('taintinduce.view_jobs') }}">View Jobs</a>
    <a class="action" href="{{ url_for('taintinduce.index') }}">View Rules</a>
  {% endif %}
{% endblock %}

{% block content %}
<h2>Observation Jobs</h2>
  <table id=rulestyle>
    <tr>
      <th>User</th>
      <th>Insn Bytestring</th>
      <th>Architecture</th>
    </tr>
    {% for username, insn_bytestring, arch_string in obsjobs %}
    <tr>
      <td>{{ username }}</td>
      <td>{{ insn_bytestring }}</td>
      <td>{{ arch_string }}</td>
    </tr>
    {% endfor %}
  </table>

<h2>Inference Jobs</h2>
  <table id=rulestyle>
    <tr>
      <th>User</th>
      <th>Insn Bytestring</th>
      <th>Architecture</th>
    </tr>
    {% for username, insn_bytestring, arch_string in jobs %}
    <tr>
      <td>{{ username }}</td>
      <td>{{ insn_bytestring }}</td>
      <td>{{ arch_string }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
